.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    background-color: transparent;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-disabled {
    display: none;
}
